@page
@model PodcastsWeb.Pages.Podcasts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Podcast</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Podcast.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Podcast.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Podcast.RecordedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Podcast.RecordedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Podcast.Serie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Podcast.Serie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Podcast.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Podcast.Duration)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Podcast.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
